<!DOCTYPE html>
<html>
<head>
	<title>投入品名录管理系统</title>
	<link rel="stylesheet" href="/css/newStyle.css"/>
</head>
<body>
	<div id="layout"></div>
</body>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript">
    var pageParas ={
      title:"首页",
      indexNav:[{name:"API",link:"/api"}, {name:"企业名录",link:"/company"},{name:"人员管理",link:"/person"},{name:"待添加",link:"#"},{name:"待添加",link:"#"}]
    }
</script>
<script src="/js/commonV3.js"></script>
<script src="/js/indexLayout-bundle.js"></script>
</html>